<div class="row actions">
  <div class="col-sm-1 col-md-1 col-lg-1">

  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
  </div>
</div>
<div class="row listContainer">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-table [dataSource]="listBuilder.list">
      <ng-container *ngFor="let col of listBuilder.listItems" [matColumnDef]="col.PropertyName">
        <mat-header-cell *matHeaderCellDef> {{col.HeaderText}} </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngIf="!col.isObject">
            <span>{{col.prefix}}</span>
            {{element[col.PropertyName]}} <span *ngIf="col.SecondPropertyName">{{element[col.SecondPropertyName]}}</span>
          </span>
          <span *ngIf="col.isObject">
            <span *ngIf="element[col.PropertyName]">
              <span>{{col.prefix}}</span>
              {{element[col.PropertyName][col.subProperty1]}}
              <span *ngIf="col.subProperty2">{{element[col.PropertyName][col.subProperty2]}}</span>
            </span>
          </span>
        </mat-cell>
      </ng-container>
      <ng-container *ngIf="listBuilder.hasActions" matColumnDef="Acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="actions">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #actions="matMenu">
            <button mat-menu-item *ngFor="let a of listBuilder.listActions" (click)="listAction(a, element, a.router)" [disabled]="!a.isEnable">
              <mat-icon>{{a.Icon}}</mat-icon>
              {{a.Name}}
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="page($event)"
      style="margin-top: 3px;">
    </mat-paginator>
  </div>
</div>
