mat-icon{
    cursor: pointer;
}

.red{
    color:red;
}
.orange{
    color:orange;
}
.green{
    color: green;
}

.overFlow{
    max-height: 100px;
    min-height: 100px;
    overflow: scroll;
    overflow-x: hidden;
}