<div class="row top-header">
  <div class="col-sm-1 col-md-1 col-lg-1">
    <button mat-icon-button [matMenuTriggerFor]="main" *ngIf="logged">
      <mat-icon>more_vert</mat-icon> Menú
    </button>
    <mat-menu #main="matMenu">
      <button mat-menu-item [routerLink]="['/control/control-dashboard']">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item [routerLink]="['/control/new-transfer']" matTooltip="Transferir hacia una maquina">
        <mat-icon>send</mat-icon>
        <span>Transferir Combustible</span>
      </button>
      <button mat-menu-item [routerLink]="['/control/new-transfer-tank']" matTooltip="Transferir hacia una Tanqueta">
        <mat-icon>send</mat-icon>
        <span>Cargar Tanqueta</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="reports">
        <mat-icon>text_snippet</mat-icon>
        <span>Reportes</span>
      </button>      
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Salir
      </button>
    </mat-menu>
    <mat-menu #reports="matMenu">
      <button mat-menu-item [routerLink]="['/reports/daily-transfers']">
        <mat-icon>label</mat-icon>
        <span>Transferencias del día</span>
      </button>
      <button mat-menu-item [routerLink]="['/report-by-location']">
        <mat-icon>label</mat-icon>
        <span>Transferencias por proyecto</span>
      </button>
      <button mat-menu-item [routerLink]="['/report-by-person']">
        <mat-icon>label</mat-icon>
        <span>Transferenciasp por operador</span>
      </button>
      <button mat-menu-item [routerLink]="['/report-main']">
        <mat-icon>label</mat-icon>
        <span>M.E.P.</span>
      </button>
    </mat-menu>
  </div>
  <div class="col-sm-9 col-md-9 col-lg-9">
    <p style="padding-top: 7px;"  *ngIf="logged">
      <strong>
        Bienvenido: {{user.firstName}} {{user.lastName}}
      </strong>
    </p>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <button mat-icon-button [matMenuTriggerFor]="settings"  *ngIf="logged | async">
      <mat-icon>settings</mat-icon> Configuración
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item [routerLink]="['/config/provider-list']">
        <mat-icon>person</mat-icon>
        Proveedores
      </button>
      <button mat-menu-item [routerLink]="['/config/machine-list']">
        <mat-icon>toys</mat-icon>
        Maquinas/Equipo
      </button>
      <button mat-menu-item [routerLink]="['/config/project-list']">
        <mat-icon>topic</mat-icon>
        Proyectos
      </button>
      <button mat-menu-item [routerLink]="['/config/user-list']">
        <mat-icon>
          supervised_user_circle
        </mat-icon>
        Usuarios
      </button>
      <button mat-menu-item [routerLink]="['/config/user-security']">
        <mat-icon>
          security
        </mat-icon>
        Seguridad
      </button>
      <button mat-menu-item [routerLink]="['/config/main-config']">
        <mat-icon>
          settings
        </mat-icon>
       Configuración General
      </button>
    </mat-menu>
  </div>
</div>
<div class="row fullH">
  <div class="col-sm-1 col-md-1 col-lg-1">

  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="mainContainer">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1">

  </div>
</div>
