<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card style="width:100%;">
  <mat-card-title>
    {{form.formName}} {{form.subTitle? form.subTitle : ''}}
  </mat-card-title>
  <form [formGroup]="formGroup">
    <div class="row">
      <div *ngFor="let item of form.formItems" class="col-sm-6 col-md-6 col-lg-6">
        <mat-form-field *ngIf="item.type == 'select'">
          <mat-label>{{item.name}}</mat-label>
          <mat-select formControlName="{{item.propertyName}}" (change)="selectOnChange(item)">
            <mat-option value="0" selected>Selectione un Opción</mat-option>
            <mat-option *ngFor="let op of item.source" (click)="selectOnChange(item)" [value]="op[item.sourceValue]">
              {{op[item.sourceText]}}
              {{op[item.secondText]}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="item.type != 'file' && item.type != 'select' && item.type != 'submit'
          && item.type != 'cancel' && item.type != 'hidden' && item.type != 'barcode' && item.type != 'audio'
          && item.type != 'textarea' && item.type != 'location' && item.type != 'signature' && item.type != 'date'">
          <mat-label>
            {{item.name}}
          </mat-label>
          <input *ngIf="item.textMask" matInput type="{{item.type}}" [mask]="item.textMask"
            placeholder="{{item.placeHolder}}" formControlName="{{item.propertyName}}"
            [readonly]="item.isReadOnly" (change)="inputOnChange(item)" />
          <input *ngIf="!item.textMask" matInput type="{{item.type}}"
            placeholder="{{item.placeHolder}}" formControlName="{{item.propertyName}}"
            [readonly]="item.isReadOnly" (change)="inputOnChange(item)" />
          <span matPrefix *ngIf="item.prefix">{{item.prefix}}</span>
          <span matSuffix *ngIf="item.suffix">{{item.suffix}}</span>
        </mat-form-field>
        <mat-form-field *ngIf="item.type == 'date'" appearance="fill">
          <mat-label>{{item.placeHolder}}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="{{item.propertyName}}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- Signature Section -->
        <fieldset matInput class="form-group" style="border: 1px black solid;" *ngIf="item.type == 'signature'">
          <label>{{item.name}}</label>
          <signature-pad [options]="signaturePadOptions" #sP formControlName="{{item.propertyName}}"
            (onEndEvent)="drawComplete()"></signature-pad>
          <button mat-raised-button color="warn" (click)="clearSignature(sP)">Limpiar</button>
        </fieldset>
        <!-- <mat-form-field > -->
        <fieldset matInput *ngIf="item.type == 'file'" class="form-group">
          <label>{{item.name}}</label>
          {{imageError}}
          <div class="custom-file fileInputProfileWrap">
            <input type="file" (change)="fileChangeEvent($event,item.propertyName, false)"
              formControlName="{{item.propertyName}}" class="fileInputProfile" [readonly]="item.isReadOnly">
            <div class="img-space">
              <img [src]="files[item.propertyName]" class="img-responsive">
            </div>
          </div>
        </fieldset>
        <!-- </mat-form-field> -->
        <!-- <mat-form-field > -->
        <fieldset matInput *ngIf="item.type == 'audio'" class="form-audio">
          <label>{{item.name}}</label>
          {{imageError}}
          <div class="custom-file fileInputProfileWrap">
            <input type="file" (change)="fileChangeEvent($event,item.propertyName, true)"
              formControlName="{{item.propertyName}}" class="fileInputProfile" [readonly]="item.isReadOnly">
            <div style="height: 60px;">
              <br>
              <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <div class="col-sm-3 col-md-3 col-lg-3" *ngIf="audio">
                  <button mat-icon-button *ngIf="audio.paused" (click)="playPause()">
                    <mat-icon aria-hidden="false">play_circle_filled</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="!audio.paused" (click)="playPause()">
                    <mat-icon aria-hidden="false">pause</mat-icon>
                  </button>
                </div>                
                <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="audio">
                  <span>{{audioProgress}}%</span> <span>&nbsp;&nbsp;{{currentTime}}&nbsp;&nbsp;-&nbsp;&nbsp;{{getDuration()}} min</span>
                  <mat-progress-bar mode="determinate" value="{{audioProgress}}"></mat-progress-bar>
                </div>
              </div>
              <audio #audioOption class="img-responsive" style="height: 60px;">
                <source [src]="files[item.propertyName]" type="audio/mpeg">
              </audio>
            </div>
          </div>
        </fieldset>
        <!-- </mat-form-field> -->
        <fieldset matInput *ngIf="item.type == 'location'">
          <label>{{item.name}}</label>
          <google-map width="400px" height="350px" [center]="center" (mapClick)="clickMap($event)" [zoom]="zoom"><map-marker *ngFor="let m of marker"
            [position]="m.position"></map-marker></google-map>
        </fieldset>
        <div class="barcode" id="p-{{item.propertyName}}" *ngIf="item.type == 'barcode'">
          <table>
            <tr>
              <td colspan="3">
                <strong>{{item.prefix}}</strong>
              </td>
            </tr>
            <tr>
              <td>
                <img [src]="item.img" id="img">
              </td>
              <td colspan="2">
                <img id="{{item.propertyName}}" />
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <strong>Traesa {{item.value}}</strong>
              </td>
            </tr>
          </table>
        </div>
        <fieldset matInput *ngIf="item.type == 'textarea'">
          <label>{{item.name}}</label>
          <br>
          <textarea *ngIf="item.type == 'textarea'" rows="5" cols="55"
            formControlName="{{item.propertyName}}"></textarea>
        </fieldset>
        <input type="hidden" *ngIf="item.type == 'hidden'" [value]="item.value" formControlName="{{item.propertyName}}">
      </div>
    </div>
    <div class="row">
      <br>
    </div>
    <div *ngIf="form.hasSubmit || form.hasCancel || form.hasPrint" class="row">
      <div class="col-sm-7 col-md-7 col-lg-7"></div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button *ngIf="form.hasSubmit" mat-raised-button class="space-r-10" color="primary"
          (click)="register()">Guardar</button>
      </div>      
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button *ngIf="form.hasCancel" mat-raised-button class="space-r-10" color="warn"
          (click)="clear()">Limpiar</button>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        <button *ngIf="form.hasPrint" mat-raised-button class="space-r-10" color="accent"
          [styleSheetFile]="form.printStyleRef" [printSectionId]="form.printSectionId"
          ngxPrint>Imprimir</button>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
  </form>
</mat-card>