/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Custo button rules */
.mat-raised-button.mat-primary{
  background-color: rgba(243, 108, 32, 0.9);
  transition: 0.5s;
}
.mat-raised-button.mat-warn{
  transition: 0.5s;
}

.mat-raised-button.mat-primary:hover, .mat-raised-button.mat-warn:hover{
  text-decoration: underline;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.buttons-panel button {
  margin-right: 5px;
}

.actions {
  background-color: rgba(100, 100, 100, 0.9);
  border-radius: 5px;
  color: white;
}

.listContainer {
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 87%;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.actions, .action-button{
  color: white;
}

.mat-spinner{
  position: fixed!important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

